body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #4B4B4B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
container {
    background-color: #373737;
    border: 2px solid #D48319;
    width: 800px;
    height: 400px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #D48319;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 25px;
}
info {
    font-size: large;
}


header {
    font-size: 18px;
    color: #D48319;
}

identifier {
    font-size: 18px;
    color: #D48319;
}

contact {
    border: 2px solid #D48319;
    padding: 10px; 
}
a {
     color:  #FFFFFF;
}
a:active {
    color: #FFFFFF;
}
contact p {
    margin: 10px 0;
}

icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 5px;
}

.pp-icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
